<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>

	<system.serviceModel>
		<services>
			<service name="wcfConsoleApp.Services.MyService">
				<!-- Define base address -->
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8000/MyService"/>
					</baseAddresses>
				</host>

				<!-- Define service endpoints -->
				<endpoint address="" binding="wsHttpBinding" contract="wcfConsoleApp.Services.IMyContract"/>

				<!-- Define MEX endpoint -->
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior>
					<!-- Enable metadata exchange -->
					<serviceMetadata httpGetEnabled="true"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
</configuration>
